{% extends "!layout.html" %}

{% block htmltitle %}
<title>Open Repair Data Standard</title>
{% endblock %}

{%- block linktags %}
<div class="rst-versions" data-toggle="rst-versions" role="note" aria-label="versions">
    <p><span class="fa fa-book">&nbsp;Version 0.3</span></p>
    <!--<p>Download PDFs</p>-->
    <ul>
        <li>PDF <span class="fa fa-download"><a href="pdf/Open Repair Data Standard v0.3.pdf" target="_blank">&nbsp;v0.3</a></span></li>
        <li>PDF <span class="fa fa-download"><a href="pdf/Open Repair Data Standard v0.2.1.pdf" target="_blank">&nbsp;v0.2.1</a></span></li>
        <li>PDF <span class="fa fa-download"><a href="pdf/Open Repair Data Standard v0.1.pdf" target="_blank">&nbsp;v0.1</a></span></li>
    </ul>
    <hr>    
    <p><a href="https://openrepair.org" target="_blank">Open Repair Alliance</a></p>        
</div>

{% endblock %}
