{% extends "!layout.html" %}

{% block htmltitle %}
<title>Open Repair Data Standard</title>
{% endblock %}

{%- block linktags %}
<div class="rst-versions" data-toggle="rst-versions" role="note" aria-label="versions">
    <div>
        <p><span class="fa fa-book">&nbsp;Version 0.2</span></p>        
        <p><a href="pdf/Open Repair Data Standard v0.2.pdf/" target="_blank">PDF</a></p>
        <p><a href="https://openrepair.org" target="_blank">Open Repair Alliance</a></p>
    </div>
</div>

{% endblock %}
